<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Unavailable</title>
    <link href="https://fonts.googleapis.com/css2?family=Alata&family=Alice&display=swap&family=Dancing+Script:wght@700&display=swap&family=Ubuntu:wght@500&display=swap&family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="icon" href="/img/fav.png" type="image/x-icon"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="shortcut icon" href="/img/fav.png" type="image/x-icon"/>
    <link rel="stylesheet" href="/css/404.css">
</head>
<body>
    <nav class="navbar sticky">
        <div class="inner">
            <a href="/" class="brand">Sketchtiles</a>
            <div class="navbar-menu">
                <a href="/posts">Posts</a>
                <a href="/about">Team</a>
            </div>
        </div>
    </nav>
    <section class="main">
        <div class="inner">
            <div class="flex">
                <h1 class="heading">Error<br>404</h1>
                <div>
                    <h2 class="desc">Uh oh.</h2>
                    <h3 class="desc-text">The page you were looking for was not found.</h3>
                    <a href="/" class="home">Go to home page</a>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="inner">
            <div class="foot-text">
                &copy; Sketchtiles
            </div>
            <div class="icons">
                Made with ❤️ by Shrutanten, Arijit and Shubham
            </div>
        </div>
    </footer>
</body>