<% result.forEach(function(image){ %>

    <img src="data:image/<%=image.img.contentType%>;base64, 
                        <%=image.img.data.toString('base64')%>"> 
    <div> 
        <h5><%= image.name %></h5> 
        <p><%= image.desc %></p> 
    </div> 
<% }) %>