<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="/img/fav.png" type="image/x-icon"/>
    <link rel="shortcut icon" href="/img/fav.png" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css2?family=Alata&family=Alice&family=Eczar:wght@600&display=swap&family=Pacifico&display=swap&family=Dancing+Script:wght@700&display=swap&family=Ubuntu:wght@500&display=swap&family=Noto+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/profilephoto.css">
</head>
<body>
    <nav class="navbar">
        <div class="inner">
            <a href="/" class="brand">Sketchtiles</a>
            <button class="menu-toggler">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="navbar-menu">
                <a href="/" class="navtop-home">Home</a>
                <a href="/posts">Posts</a>
                <a href="/about">About</a>
                
            </div>
        </div>
    </nav>
    <div class="inner">
        <div class="flex">
            <h1 class="heading">Update profile photo</h1>
            <h4>This photo will be displayed on your profile.</h4>
            <form action="/profilephoto" method="POST" enctype="multipart/form-data" class="update-pfp">
                <label for="pfp" class="pfp-label">Select a photo</label>
                <input type="file" accept="image/*" name="pfp" id="pfp" required>
                <img id="preview" src="#" alt="">
                <button type="submit" class="sub-btn">Set</button>
            </form>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/profilephoto.js"></script>
    <script src="https://kit.fontawesome.com/67a49e1ba0.js" crossorigin="anonymous"></script>
</body>
</html>