<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/fav.png" type="image/x-icon"/>
    <link rel="shortcut icon" href="/img/fav.png" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap&family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/signup.css">
    <title>Sign Up</title>
</head>

<body>
  <div class="inner home">
    <a href="/"><i class="fas fa-home"></i></a>
  </div>
    <div class="inner">
        <form action="/signup" method="POST" id="signupForm">
            <div class="outer">
                <div class="flex">
                    <h1 class="head">Sign Up</h1>
                    <h2 class="desc">to <a href="/">Sketchtiles</a></h2>
                    <div class="user-error">&nbsp;</div>
                    <input type="text" placeholder="Username" name="username" class="form-box" autocomplete="off" id="username" required autofocus>
                    <input type="password" placeholder="Password" name="password" class="form-box" required>
                    <input type="text" placeholder="Something about you" name="about" class="form-box" autocomplete="off" required>
                    <input type="text" placeholder="Instagram handle" name="contact" class="form-box" required autocomplete="off">
                    <p class="insta-tip">
                      If you don't want to share your instagram, put in "N/A".
                    </p>
                    <button id="sub-btn" type="submit">Sign Up</button>
                </div>
            </div>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/signup.js"></script>
    <script src="https://kit.fontawesome.com/67a49e1ba0.js" crossorigin="anonymous"></script>
</body>
