<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tile</title>
    <link rel="stylesheet" href="/css/tile.css">
</head>
<body>
    <div class="main">
        <div class="tile">
            <div class="tile-div">
                <img src="/img/bg.jpg" alt="" class="tile-img">
    
            </div>
        </div>
        <div class="comments">
            <div class="comment-div">
                <h1 class="author">By bur14</h1>
                <h2 class="desc">Image description</h2>
                <div class="img-comments">
                    Ajax stuff here
                </div>
                <textarea cols="30" rows="3" placeholder="Add your comment here"></textarea>
                <button>Submit</button>
            </div>
        </div>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/tile.js"></script>
</body>
</html>