*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
.inner{
  max-width: 1200px;
  margin: auto;
}
body{
  background: linear-gradient(90deg,#b83b5e,#6a2c70,#125c79,#c26e4a);
}

/*Navbar*/
.navbar {
  position: fixed;
  background-color: transparent;
  width: 100%;
  padding: 30px 0;
  top: 0;
  z-index: 2;
  transition: .3s linear;
  font-family: 'Ubuntu';
}


.navbar .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .login {
  border: 2px solid brown;
  padding: 5px 20px;
  border-radius: 10px;
  background-color: brown;
  color: #d3d3d3;
  font-family: "Ubuntu";
  transition: 0.1s linear;
}

.navbar .login:hover {
  background-color: red;
  color: #d3d3d3;
}

.navbar .signup {
  border: 2px solid purple;
  padding: 5px 20px;
  border-radius: 10px;
  font-family: "Ubuntu";
  transition: 0.1s linear;

}

.navbar .signup:hover {
  background-color: purple;
  color: #d3d3d3;
}

.navbar .logout {
  border: 2px solid brown;
  color: #d3d3d3;
  padding: 5px 20px;
  border-radius: 10px;
  font-family: "Ubuntu";
  transition: 0.1s linear;
}

.navbar .logout:hover {
  color: white;
  background-color: brown;
}


.brand {
  color: white;
  /* text-transform: uppercase; */
  font-size: 1.25rem;
  text-decoration: none;
}

.menu-toggler {
  background: none;
  width: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  z-index: 999;
  display: none;
}

.menu-toggler span {
  display: block;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin: 6px 0;
  position: relative;
  transition: .3s linear;
}

.navbar-menu a {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 500;
  margin-left: 30px;
  transition: .2s linear;
  text-decoration: none;
}

.navbar-menu a:hover {
  color: #ffffff !important;
}

.sticky {
  background-color: black;
  padding: 10px 0;
}

.sticky .navbar-menu a {
  color: white;
}

.sticky .menu-toggler span {
  background-color: white;
}
.navtop-home {
  display: none;
}
.nav-btm {
  display: none;
  /* flex-direction: row; */
  /* flex: 20%; */
  height: 70px;
  width: 100vw;
  justify-content: space-around;
  align-content: center;
  position: fixed;
  bottom: -70px;
  background-color: #121212;
  padding: 20px 10px;
  transition: 0.2s linear;
}
.navbtm-icon{
  font-size: 1.5rem;
  color: white;
}
.navbtm-icon a{
  font-size: 1.5rem;
  color: white;
}
/*Navbar End*/
.team{
  margin-top: 90px;
  margin-bottom: 50px;
  background: linear-gradient(#ebdc87,#e84545);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: "Pacifico";
  font-size: 4rem;
  text-align: center;
}


.flexbox{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  flex: 33%;

}
.tansen,.arijit,.shubham{
  display: flex;
  flex-direction: column;
  flex: 50%;

}
.pfp{
  margin:0;
  width: 400px;
  position: relative;
}
.text{
  background: transparent;
  height: 400px;
  padding: 20px;
  align-content: center;
  position: relative;
  background-color: rgba(0, 0, 0, 0.233);
}
.pic{
  position: relative;
  background-color: white;
  height:400px;

}
.name{
  font-family: 'Niconne', cursive;
  color: #e84545;
  letter-spacing: 5px;
  text-shadow: 2px 2px 1px #b83838;
  font-size: 3.5rem;
}
.info{
  font-family: "Work Sans";
  color: #d3d3d3c7;
}
.post{
  color: #d3d3d3e3;
  margin: 10px auto 0;
  font-family: "Ubuntu";
  margin-bottom: 30px;
}
.iconbar{
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.685);
}
.iconbar i{
  margin: 0 20px;
}
.fab{
  color: white;
  font-size: 2rem;
}
.far{
  color: white;
  font-size: 2rem;
}

/*Footer*/
footer {
    margin: 0 0 100px;
}

.foot-text {
  text-align: center;
  margin: 40px 0;
  font-size: 1.5rem;
  font-family: "Alata";
  color: white;
}

.icons {
  text-align: center;
  font-family: "Ubuntu";
  color: white;
}

.icons i {
    font-size: 2rem;
    padding: 0 10px;
    color: white;
}
@media screen and (max-width: 980px) {
  .navtop-home {
    display: block;
  }
  .nav-btm{
    display: flex;
  }
  .sticky{
    background-color: unset;
  }
  .navbar {
    padding: 20px 20px;
  }
  .menu-toggler {
    display: block;
  }
  .sticky .menu-toggler {
    background-color: #121212;
    border-radius: 50%;
    padding: 10px;
    width: 50px;
    transition: .2s linear;
  }
  .sticky .brand {
    visibility: hidden;
    transition: .3s linear;
  }
  .navbar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: black;
    top: 0;
    right: -100%;
    /* max-width: 400px; */
    text-align: center;
    padding: 80px 50px;
    transition: .2s linear;
  }

  .navbar-menu a {
    display: block;
    font-size: 30px;
    margin: 30px 0;
    text-decoration: white;
    color: white;
  }

  .sticky .navbar-menu {
    background-color: #121212;
  }

  .sticky .navbar-menu a {
    color: white;
  }

  .navbar-menu.active {
    right: 0;
  }

  .menu-toggler.active span:nth-child(1) {
    transform: rotate(-45deg);
    top: 4px;
  }

  .menu-toggler.active span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggler.active span:nth-child(3) {
    transform: rotate(45deg);
    bottom: 14px;
  }

  .inner-width {
    max-width: 800px;
  }
  .nav-btm {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  body{
    background: linear-gradient(90deg,#b83838,#6a2c70);
  }
  .flexbox{
    display: unset;
  }

  .tansen,.shubham{
    flex-direction: column-reverse;
  }
  .pfp{
    height: unset;
    max-width: 100vw;
    width: unset;
    background-size: cover;
  }
  .pic{
    height: unset;
    background: rgba(0, 0, 0, 0.3);
  }
  .text{
    background: rgba(0, 0, 0, 0.3);
    font-size: 1.25rem;
  }
  .name{
    font-family: 'Niconne', cursive;
    font-size: 5rem;
  }
  .post{
    color: #d3d3d3e3;
    letter-spacing: 2px;
  }
  .iconbar{
    text-align: center;
    align-items: center;
  }
  .fab{
    font-size: 2rem;
  }
  .far{
    font-size: 2rem;
  }
}