*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inner{
  max-width: 1200px;
  margin: auto;
}

/*Navbar*/
.navbar {
  position: fixed;
  background-color: transparent;
  width: 100%;
  padding: 30px 0;
  top: 0;
  z-index: 2;
  transition: .3s linear;
  font-family: 'Alata';
}

/* .inner-width { */
/* max-width: 89vw; */
/* margin: auto; */
/* padding: 0 40px; */
/* } */

.navbar .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .login {
  border: 2px solid brown;
  padding: 5px 20px;
  border-radius: 10px;
  background-color: brown;
  color: #d3d3d3;
  font-family: "Ubuntu";
  transition: 0.1s linear;
}

.navbar .login:hover {
  background-color: red;
  color: #d3d3d3;
}

.navbar .signup {
  border: 2px solid purple;
  padding: 5px 20px;
  border-radius: 10px;
  font-family: "Ubuntu";
  transition: 0.1s linear;

}

.navbar .signup:hover {
  background-color: purple;
  color: #d3d3d3;
}

.navbar .logout {
  border: 2px solid brown;
  color: #d3d3d3;
  padding: 5px 20px;
  border-radius: 10px;
  font-family: "Ubuntu";
  transition: 0.1s linear;
}

.navbar .logout:hover {
  color: white;
  background-color: brown;
}


.brand {
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  text-decoration: none;
}

.menu-toggler {
  background: none;
  width: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  z-index: 999;
  display: none;
}

.menu-toggler span {
  display: block;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin: 6px 0;
  position: relative;
  transition: .3s linear;
}

.navbar-menu a {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 500;
  margin-left: 30px;
  transition: .2s linear;
  text-decoration: none;
}

.navbar-menu a:hover {
  color: #ffffff !important;
}

.sticky {
  background-color: black;
  padding: 18px 0;
}

.sticky .logo {
  background-image: url(../images/black-logo.png);
}

.sticky .navbar-menu a {
  color: white;
}

.sticky .menu-toggler span {
  background-color: white;
}
/*Navbar End*/
body{
  background-color: black;
  background-image: url(../img/black.jpg);
  background-size: auto;
}
.team{
  margin-top: 90px;
  margin-bottom: 50px;
  color: red;
  font-family: "Ubuntu";
  font-size: 3rem;
  text-align: center;
}


.flexbox{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 1200px;
  flex: 33%;
}
.tansen,.arijit,.shubham{
  display: flex;
  flex-direction: column;
  flex: 50%;
}
.pfp{
  margin:0;
  width: 400px;
  position: relative;
}
.text{
  background-color: white;
  height: 400px;
  padding: 20px;
  align-content: center;
}
.pic{
  background-color: white;
  height:400px;

}
.name{
  font-family: 'Niconne', cursive;
  font-size: 3rem;
}
.info{
  margin-left: 50px;
  margin-right: 50px;
  font-family: "Ubuntu";
}
.post{
  color: red;
  margin: 10px auto 0;
  font-family: "Ubuntu";
  margin-bottom: 30px;
}
.iconbar{
  letter-spacing: 15px;
  text-align: center;
  align-items: center;
  margin-top: 100px;
}
.fab{
  color: #858e99;
  font-size: 2rem;
}
.far{
  color: #858e99;
  font-size: 2rem;
}

/*Footer*/
footer {
    margin: 0 0 100px;
}

.foot-text {
    text-align: center;
    margin: 40px 0;
    font-size: 1.5rem;
    font-family: "Alice";
}

.icons {
    text-align: center;
}

.icons i {
    font-size: 2rem;
    padding: 0 10px;
}

@media screen and (max-width: 768px) {
  .flexbox{
    display: unset;
  }

  .tansen,.shubham{
    flex-direction: column-reverse;
  }
  .pfp{
    height: unset;
    max-width: 100vw;
    padding: 0;
    width: unset;
    background-color: #403f3e;
    background-size: cover;
  }
  .pic{
    height: unset;
    background-color: #403f3e;
  }
  .text {
    height: unset;
    padding: 20px 0px;
    background-color: #403f3e;
  }
  .name{
    font-family: 'Niconne', cursive;
    font-size: 3rem;
    color: white;
  }
  .info{
    margin-left: 50px;
    margin-right: 50px;
    font-family: "Ubuntu";
    color: white;
  }
  .post{
    color: red;
    margin: 10px auto 0;
    font-family: "Ubuntu";
    margin-bottom: 30px;

  }
  .iconbar{
    letter-spacing: 15px;
    text-align: center;
    align-items: center;
    margin-top: 100px;
  }
  .fab{
    color: white;
    font-size: 2rem;
  }
  .far{
    color: white;
    font-size: 2rem;
  }
}

@media screen and (max-width: 980px) {
  .navbar {
    padding: 20px 20px;
  }

  .menu-toggler {
    display: block;
  }

  .navbar-menu {
    position: fixed;
    height: 100vh;
    width: 60%;
    background-color: black;
    top: 0;
    right: -100%;
    /* max-width: 400px; */
    text-align: center;
    padding: 80px 50px;
    transition: .3s linear;
  }

  .navbar-menu a {
    display: block;
    font-size: 30px;
    margin: 30px 0;
    text-decoration: white;
    color: white;
  }

  .sticky .navbar-menu {
    background-color: black;
  }

  .sticky .navbar-menu a {
    color: white;
  }

  .navbar-menu.active {
    right: 0;
  }

  .menu-toggler.active span:nth-child(1) {
    transform: rotate(-45deg);
    top: 4px;
  }

  .menu-toggler.active span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggler.active span:nth-child(3) {
    transform: rotate(45deg);
    bottom: 14px;
  }

  .inner-width {
    max-width: 800px;
  }
}

/* Footer-end */

.nav-btm {
  display: flex;
  /* flex-direction: row; */
  /* flex: 20%; */
  height: 70px;
  width: 100vw;
  justify-content: space-around;
  align-content: center;
  position: fixed;
  bottom: -70px;
  background-color: #121212;
  padding: 20px 10px;
  transition: 0.3s linear;
}

.navbtm-icon {
  font-size: 1.5rem;
}
