* {
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: black;
    color: #d3d3d3;
    text-shadow: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    background: url(../img/bg.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.inner {
    max-width: 1200px;
    padding: 0 0;
    margin: auto;
}

.br {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;
    width: 60%;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.3s linear;
    z-index: 9;
}



.change {
    background-color: black;
}

#brand {
    margin: 10px;
    margin-right: auto;
    font-size: 1.3rem;
    color: #eeeeee;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar ul li {
    margin: 20px 20px;
}

#signup-li {
    margin: 0 10px;
}

#logout-li {
    margin: 0 10px;
}

.navbar a {
    text-decoration: none;
    font-family: 'Alata';
    color: #c7b198;
    font-size: 1rem;
}

.navbar a:hover {
    color: #97846e;
}

.navbar .login {
    border: 2px solid brown;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: brown;
    color: #d3d3d3;
    font-family: "Ubuntu";
    transition: 0.1s linear;
}

.navbar .login:hover {
    background-color: red;
    color: #d3d3d3;
}

.navbar .signup {
    border: 2px solid purple;
    padding: 5px 20px;
    border-radius: 10px;
    font-family: "Ubuntu";
    transition: 0.1s linear;

}

.navbar .signup:hover {
    background-color: purple;
    color: #d3d3d3;
}

.navbar .logout {
    border: 2px solid brown;
    color: #d3d3d3;
    padding: 5px 20px;
    border-radius: 10px;
    font-family: "Ubuntu";
    transition: 0.1s linear;
}

.navbar .logout:hover {
    color: white;
    background-color: brown;
}

/* Navbar end */

/* Landing page */
.landing {
    height: 100vh;
}

.land-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#land-name {
    font-size: 9rem;
    font-weight: 900;
    color: #ffa36c;
    letter-spacing: 15px;
    font-family: 'Great Vibes';
    background: url(../img/bg9.jpg) 50% 50%;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#land-desc {
    font-family: 'Alice';
    color: #dfd3c3;
    letter-spacing: 4px;
}

#land-login {
    margin: 40px 0;
}

.land-log-btn,
.land-sign-btn {
    text-decoration: none;
    margin: 0 10px;
    padding: 15px 40px;
    font-size: 1.5rem;
    font-family: "Ubuntu";
    border-radius: 10px;
}

.land-log-btn {
    color: #d3d3d3;
    background-color: brown;
    border: 2px solid brown;
}

.land-log-btn:hover {
    background-color: darkred;
    border-color: darkred;
}

.land-sign-btn {
    border: 2px solid purple;
}

.land-sign-btn:hover {
    background-color: purple;
}

/* Landing page end */


/* Contributors carousel */
.contributors {
    background-color: white;
    background-image: linear-gradient(#0099ff, rgb(0, 4, 255));

    padding-bottom: 50px;
}

.section-head {
    text-align: center;
    padding: 70px 150px 100px;
    font-size: 5rem;
    color: white;
    margin: 0;
    /* letter-spacing: 10px; */
    background-image: url(../img/name_bg.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Dancing Script", cursive;
}
#tpartist{
    background-image: url(../img/name_bg2.png);
}
.artists {
    display: flex;
    border: solid;
    border-radius: 10px;
    border-color: black;
    margin: 10px;
    background-color: rgb(0, 0, 0);
}

.usernm {
    text-align: center;
    /* margin-left: 30px;
    margin-top: 10px; */
    margin: auto;
    color: rgb(255, 255, 255);
    width: 28%;
    font-family: 'Alata';
    font-size: 2rem;
    /* padding-top: 70px; */

}

.pfpp {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    /* margin-top: 25%; */
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    max-width: 300px;
    max-height: 300px;
}

.swiper-container {
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 0px;
}

/* Contributors end */

/* Posts  */
.posts {
    padding: 0;
    background-color: black;
    background-image: url(../img/black.jpg);
    background-size: auto;
}

.header {
    text-align: right;
    padding: 32px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    padding-bottom: 10px;
}

.column {
    flex: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    border-radius: 5px;
}

.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: grey;
    cursor: pointer;
    font-size: 18px;
    border-radius: 7px;
}

.btn:hover {
    background-color: #ddd;
}

.btn.active {
    background-color: red;
    color: white;
}

.ncolumns {
    color: grey;
    margin-bottom: 20px;
    font-family: "Ubuntu"
}

.column img:hover {
    box-shadow: 0 0 40px #d3d3d3;
    cursor: pointer;
}

.click-div {
    background-color: rgba(0, 0, 0, 0.842);
    /* filter: blur(4px); */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    color: black;
    z-index: 10;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#click-div-img {
    /* margin: 30px 30px 10px; */
    margin: 10px;
    max-width: 50vw;
    max-height: 85.5vh;
    /* border: solid 5px white; */
    border-radius: 10px;
    height: auto;
}

.imgajax {
    background: #1a2a6c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
    margin: 20px;
    max-height: 95vh;
}

.likecomm {
    /* background-color: rgba(255, 255, 255, 0.671); */
    background: #1a2a6c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 20px;
    /* margin-left: 100px; */
    margin-top: 10%;
    margin-bottom: 10%;
    /* margin-right: 10vw; */
    max-width: 30vw;
    border-radius: 10px;
    /* height: auto; */
    max-height: 80%;
    overflow: auto;
}

#click-div-user {
    color: black;
    text-align: center;
    margin-bottom: 10px;
    font-size: 3rem;
    font-family: 'Alata';
}

.click-div-likes {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.like-btn,
.likes-number {
    font-size: 1.5rem;
    margin-right: 5px;

    font-family: 'Alata';
}

#click-div-close {
    position: absolute;
    right: 70px;
    top: 30px;
    font-size: 2rem;
    opacity: 0.5;
}

#click-div-close:hover {
    cursor: pointer;
    opacity: 1;
}

.click-div-comments {
    color: black;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.52);
    font-family: 'Alata';
    margin-top: 20px;
    overflow: auto;
    border-radius: 10px;
    font-size: 1rem;
}

.comsub {
    display: flex;
    flex-direction: row;
}

.post-comment {
    background-color: rgba(255, 255, 255, 0.671);
    color: black;
    font-family: 'Alata';
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    border-radius: 10px;

    border: 0px;
}

.post-submit {
    background-color: rgb(0, 0, 0);
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Alata';
    /* width: 15%; */
    margin-top: 20px;
    margin-left: 5px;
    border-radius: 10px;
    font-size: 1rem;
    border: 0px;
}

/* Posts end */

/* Submit */
.submit {
    /* background: #1a2a6c; */
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); */
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    background-image: url(../img/collage.jpg);
}

#posting {
    background-image: unset;
    font-family: 'Special Elite', cursive;
    text-align: center;
    padding: 50px 150px 60px;
    font-size: 5rem;
    color: white;
    margin: 0;
    background-image: url(../img/name_bg.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;

}

#submit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#sub-desc {
    border-radius: 10px;
    padding: 10px 20px;
    color: black;
    font-family: "Alice";
    font-size: 1.2rem;
    margin-bottom: 30px;
}

#sub-desc::placeholder {
    color: black;
    font-family: "Alice";
    font-size: 1.2rem;
}
#post-label{
    font-family: "Ubuntu";
    border: none;
    padding: 20px 30px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.5rem;
    margin-bottom: 40px;
    transition: 0.1s linear;
    background-color: grey;
}

#post-label:hover {
    background-color: black;

}

#post-img {
    display: none;
}

#preview {
    width: 50%;
    margin-bottom: 40px;
    border-radius: 10px;
    font-family: "Alice";
    color: red;
}

.sub-btn {
    border: none;
    background-color: grey;
    font-family: "Alice";
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 50px;
    transition: 0.1s linear;
}

.sub-btn:hover {
    cursor: pointer;
    background-color: black;
}


/* Submit End */

/* Footer */
footer {
    margin: 0px 0 50px;
}

.foot-text {
    text-align: center;
    margin: 40px 0;
    font-size: 1.5rem;
    font-family: "Alice";
}

.icons {
    text-align: center;
}

.icons i {
    font-size: 2rem;
    padding: 0 10px;
}

/* Footer-end */
/* @media screen and (max-width: 800px) {
    .likecom {
        
        max-height: 95%;
    }
}
@media screen and (max-width: 600px) {
    #land-name {
        font-size: 4.5rem;
        
    }

    .landing {
        height: 100vh;
    }

    .land-main {
        height: 100vh;
    }

    .navbar-menu {
        display: none;

    }

    #land-desc {
        font-family: 'Alata';
        color: #dfd3c3;
        letter-spacing: 3px;
        /
    }

    #land-login {
        margin: 40px 0;
    }

    .land-log-btn,
    .land-sign-btn {
        text-decoration: none;
        margin: 0 5px;
        padding: 10px 30px;
        font-size: 1.5rem;
        font-family: "Ubuntu";
        border-radius: 10px;
    }

    .section-head {
        font-size: 3.1rem;
        padding: 60px 150px 60px;
        
        background-size: 100%;
    }



    .column {
        flex: 50%;
        padding: 0 5px;
    }

    .artists {
        display: flex;
        border: solid;
        border-radius: 10px;
        border-color: black;
        margin: 10px;
        background-color: rgb(0, 0, 0);
    }

    .usernm {
        text-align: center;
        margin-left: 30px;
        color: rgb(255, 255, 255);
        width: 28%;
        font-family: 'Alata';
        font-size: 2rem;
        /

    }

    .pfpp {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        
    }

    .swiper-slide {
        max-width: 200px;
        max-height: 200px;
    }

    .swiper-container {
        margin-left: 10px;
        width: 300px;
    }


    #posting {
        background-image: unset;
        font-size: 4rem;
        background-size: 100%;
        padding: 60px 10px 60px;
    }

    

    .sub-btn {
        background-color: black;
        font-family: "Alata";
        border-radius: 15px;
        transition: linear 0.2s;
    }

    .sub-btn:hover {
        background-color: white;
        color: black;
    }

    #sub-desc {
        border-radius: 10px;
        font-family: 'Alata';
    }

    #post-label {
        font-family: 'Alata';
        font-size: 1.2rem;
    }

    #preview {
        color: white;
        max-width: 90vw;
        min-width: 30vw;
        height: auto;
    }

    .click-div {
        flex-direction: column;
    }

    #click-div-img {
        max-width: 90vw;
        margin: 5px;
    }

    .likecomm {
        max-width: 90vw;
        margin-top: 20px;
    }
} */

@media (max-width: 768px) {
    #land-name {
        font-size: 3rem;
        /* font-weight: 1000;
        position:absolute;
        top: 40%; */
    }
    .landing {
        height: 100vh;
    }
    .land-main {
        height: 100vh;
    }
    .navbar-menu {
        display: none;
    }
    #land-desc {
        font-family: 'Alata';
        color: #dfd3c3;
        letter-spacing: 2px;
        font-size: 1rem;
        /* position:absolute;
        top: 50%; */
    }
    #land-login {
        margin: 20px 0;
    }
    .land-log-btn,
    .land-sign-btn {
        text-decoration: none;
        margin: 0 5px;
        padding: 10px 10px;
        font-size: 1rem;
        font-family: "Ubuntu";
        border-radius: 10px;
    }
    .section-head {
        font-size: 3.1rem;
        padding: 60px 150px 60px;
        /* font-family: 'Pacifico',
        cursive; */
        background-size: 100%;
    }
    #tpartist {
        font-size: 3rem;
        padding: 60px 0px;
    }
    .column {
        flex: 100%;
        padding: 10px;
    }
    .artists {
        display: flex;
        border: solid;
        border-radius: 10px;
        border-color: black;
        margin: 10px;
        background-color: rgb(0, 0, 0);
    }

    .usernm {
        text-align: center;
        margin-left: 30px;
        color: rgb(255, 255, 255);
        width: 28%;
        font-family: 'Alata';
        font-size: 2rem;
        /* padding-top: 70px; */

    }

    .pfpp {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        /* margin-top: 25%; */
    }

    .swiper-slide {
        max-width: 200px;
        max-height: 200px;
    }

    .swiper-container {
        margin-left: 10px;
        width: 300px;
    }


    #posting {
        background-image: unset;
        font-size: 4rem;
        background-size: 100%;
        padding: 60px 10px 60px;
    }

    .sub-btn {
        background-color: black;
        font-family: "Alata";
        border-radius: 15px;
        transition: linear 0.2s;
    }

    .sub-btn:hover {
        background-color: white;
        color: black;
    }

    #sub-desc {
        border-radius: 10px;
        font-family: 'Alata';
    }

    #post-label {
        font-family: 'Alata';
        font-size: 1.2rem;
    }

    #preview {
        color: white;
        max-width: 90vw;
        min-width: 30vw;
        height: auto;
    }

    .click-div {
        flex-direction: column;
        margin: 5px 0px;
        overflow: auto;
    }

    #click-div-img {
        max-width: 95vw;
        max-height: 50vh;
        margin: 5px;
    }

    .imgajax{
        margin: 0;
    }

    .likecomm {
        max-width: 95vw;
        margin-top: 10px;
        /* max-height: 50vh; */
        overflow: auto;
        padding: 10px;
        margin-bottom: 0px;
    }

    #click-div-user{
        font-size: 2rem;
        margin-bottom: 10px;
    }

    #click-div-close {
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 1rem;
        width:30px;
        height: 30px;
        background-color: white;
        border-radius: 50%;
        text-align: center;
        align-content: center;
        justify-content: center;
        opacity: 1;
        padding-top: 2px;
    }

    .click-div-comments{
        overflow: auto;
    }

    .like-btn,
    .likes-number {
        font-size: 1rem;
    }

    
}
