* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    background-attachment: fixed;
}

.navbar {
    position: fixed;
    background-color: transparent;
    width: 100%;
    padding: 30px 0;
    top: 0;
    z-index: 2;
    transition: .3s linear;
    font-family: 'Alata';
}

.inner-width {
    max-width: 89vw;
    margin: auto;
    /* padding: 0 40px; */
}

.navbar .inner-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.menu-toggler {
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 999;
    display: none;
}

.menu-toggler span {
    display: block;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
    position: relative;
    transition: .3s linear;
}

.navbar-menu a {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 30px;
    transition: .2s linear;
    text-decoration: none;
}

.navbar-menu a:hover {
    color: #48dbfb !important;
}

.sticky {
    background-color: black;
    padding: 18px 0;
}

.sticky .logo {
    background-image: url(../images/black-logo.png);
}

.sticky .navbar-menu a {
    color: white;
}

.sticky .menu-toggler span {
    background-color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: 22vw auto;
    height: 100vh;
    border-radius: 20px;
}

.profile {
    /* background: #ED213A; */
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to left, #93291E, #ED213A); */
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to left, #93291E, #ED213A); */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: linear-gradient(rgb(4, 24, 88), rgb(0, 110, 255));
    position: fixed;
    height: 100vh;
    width: 22vw;
    justify-content: center;
}

.profile-inner{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.profile h1 {
    font-family: 'Baloo Tamma 2',
        cursive;
    /* font-size: 40px; */
    margin-bottom: 50px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding-top: 40px;
}

.profile h2 {
    font-family: 'Baloo Tamma 2',
        cursive;
    /* font-size: 40px; */
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding-top: 0px;
    margin-bottom: 30px;
}

.content {
    /* background-repeat: no-repeat; */
    /* The image used */
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column-start: 2;
    grid-column-end: 3;
    background-image: linear-gradient(rgb(0, 60, 255), rgb(0, 255, 242));
    /* background-color: transparent; */
    /* border-radius: 20px; */
    /* margin: 10px; */

}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 200px;
    padding: 0 4px;
    padding-bottom: 10px;
}

.column {
    flex: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    border-radius: 5px;
}

.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: grey;
    cursor: pointer;
    font-size: 18px;
    border-radius: 7px;
}

.btn:hover {
    background-color: #ddd;
}

.btn.active {
    background-color: red;
    color: white;
}

.ncolumns {
    color: grey;
    margin-bottom: 20px;
    font-family: "Ubuntu"
}

.column img:hover {
    box-shadow: 0 0 40px #d3d3d3;
    cursor: pointer;
}



.title {
    padding-top: 90px;
    margin-bottom: 30px;
    align-content: center;
    font-family: 'Baloo Tamma 2',
        cursive;
    /* transform: translateX(-50%); */
    font-size: 60px;
    z-index: 2;
    color: white;
    text-align: center;

}

.gallery {
    display: grid;
    /* grid-column-gap: 10px; */
    grid-row-gap: 30px;
    grid-template-columns: auto auto;
    margin: auto;
    padding: 20px;
}
.click-div {
    background-color: rgba(0, 0, 0, 0.842);
    /* filter: blur(4px); */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    color: black;
    z-index: 10;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#click-div-img {
    /* margin: 30px 30px 10px; */
    margin: 10px;
    max-width: 50vw;
    max-height: 90vh;
    /* border: solid 5px white; */
    border-radius: 10px;
    height: auto;
}

.imgajax {
    background: #1a2a6c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
    margin: 20px;
}

.likecomm {
    /* background-color: rgba(255, 255, 255, 0.671); */
    background: #1a2a6c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 20px;
    /* margin-left: 100px; */
    margin-top: 10%;
    margin-bottom: 10%;
    /* margin-right: 10vw; */
    max-width: 30vw;
    border-radius: 10px;
    /* height: auto; */
    max-height: 80%;
}

#click-div-user {
    color: black;
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
    font-family: 'Alata';
}

.click-div-likes {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.like-btn,
.likes-number {
    font-size: 1.5rem;
    margin-right: 5px;

    font-family: 'Alata';
}

#click-div-close {
    position: absolute;
    right: 70px;
    top: 30px;
    font-size: 2rem;
    opacity: 0.5;
}

#click-div-close:hover {
    cursor: pointer;
    opacity: 1;
}

.click-div-comments {
    color: black;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.52);
    font-family: 'Alata';
    margin-top: 20px;
    overflow: auto;
    border-radius: 10px;
    font-size: 1rem;
}

.comsub {
    display: flex;
    flex-direction: row;
}

.post-comment {
    background-color: rgba(255, 255, 255, 0.671);
    color: black;
    font-family: 'Alata';
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    border-radius: 10px;

    border: 0px;
}

.post-submit {
    background-color: rgb(0, 0, 0);
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Alata';
    /* width: 15%; */
    margin-top: 20px;
    margin-left: 5px;
    border-radius: 10px;
    font-size: 1rem;
    border: 0px;
}
.gal-img {
    height: 300px;
    width: auto;
    border-radius: 10px;
    /* padding: 10px; */
    margin: auto;
    border: 5px solid #ddd;

}

.submit-main{
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.582);
    border-radius: 10px;
}

#submit-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#sub-desc{
    border-radius: 10px;
    padding: 5px 0 5px 5px;
    color: black;
    font-family: "Alice";
    font-size: 1.2rem;
    margin-bottom: 20px;
}
#sub-desc::placeholder{
    color: black;
    font-family: "Alata";
    font-size: 1.2rem;
    text-align: center;
}
#post-label{
    font-family: 'Alata';
    border: 2px solid white;
    padding: 7px 10px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.2rem;
    margin-bottom: 20px;
    transition: 0.1s linear;
    color: white;
}
#post-label:hover{
    background-color: black;
    color: white;
}
#post-img{
    display: none;
}
#preview{
    width: 50%;
    max-height: 200px;
    margin-bottom: 40px;
    border-radius: 10px;
    font-family: "Alata";
    color: white;
}
.sub-btn{
    border: none;
    background-color: grey;
    font-family: "Alata";
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: 0.1s linear;
}
.sub-btn:hover{
    cursor: pointer;
    background-color: black;
}

@media screen and (max-width: 980px) {
    .menu-toggler {
        display: block;
    }

    .navbar-menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: black;
        top: 0;
        right: -100%;
        /* max-width: 400px; */
        text-align: center;
        padding: 80px 50px;
        transition: .3s linear;
    }

    .navbar-menu a {
        display: block;
        font-size: 30px;
        margin: 30px 0;
        text-decoration: white;
        color: white;
    }

    .sticky .navbar-menu {
        background-color: black;
    }

    .sticky .navbar-menu a {
        color: white;
    }

    .navbar-menu.active {
        right: 0;
    }

    .menu-toggler.active span:nth-child(1) {
        transform: rotate(-45deg);
        top: 4px;
    }

    .menu-toggler.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggler.active span:nth-child(3) {
        transform: rotate(45deg);
        bottom: 14px;
    }

    .inner-width {
        max-width: 800px;
    }

    .grid-container {
        display: unset;
    }

    .profile {
        width: 100vw;
        position: relative;
    }

    .gallery {
        display: grid;
        /* grid-column-gap: 10px; */
        grid-row-gap: 20px;
        grid-template-columns: auto;
        margin: auto;
        padding: 20px;
    }

    .gal-img {
        height: auto;
        max-width: 95%;
        border-radius: 10px;
        /* padding: 10px; */
        margin: auto;
        border: 5px solid #ddd;

    }

    .profile h1 {
        padding-top: 120px;
    }

    .profile,
    .content {
        background-image: unset;
        background-color: transparent;
    }

    body {
        background-image: linear-gradient(rgb(4, 24, 88), rgb(0, 110, 255));
    }
}

@media screen and (max-width: 600px) {
    .grid-container {
        display: unset;
    }

    .profile {
        width: 100vw;
        position: relative;
    }

    .gallery {
        display: grid;
        /* grid-column-gap: 10px; */
        grid-row-gap: 20px;
        grid-template-columns: auto;
        margin: auto;
        padding: 20px;
    }

    .gal-img {
        height: auto;
        max-width: 95%;
        border-radius: 10px;
        /* padding: 10px; */
        margin: auto;
        border: 5px solid #ddd;

    }

    .profile h1 {
        padding-top: 120px;
    }

    .profile,
    .content {
        background-image: unset;
        background-color: transparent;
    }

    body {
        background-image: linear-gradient(rgb(4, 24, 88), rgb(0, 110, 255));
    }
}

@media screen and (max-width: 768px) {
    .click-div {
        flex-direction: column;
        margin: 5px 0px;
        overflow: auto;
    }

    #click-div-img {
        max-width: 95vw;
        max-height: 50vh;
        margin: 5px;
    }

    .imgajax {
        margin: 0;
    }

    .likecomm {
        max-width: 95vw;
        margin-top: 10px;
        /* max-height: 50vh; */
        overflow: auto;
        padding: 10px;
        margin-bottom: 0px;
    }

    #click-div-user {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    #click-div-close {
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 1rem;
        width: 30px;
        height: 30px;
        background-color: white;
        border-radius: 50%;
        text-align: center;
        align-content: center;
        justify-content: center;
        opacity: 1;
        padding-top: 2px;
    }

    .click-div-comments {
        overflow: auto;
    }

    .like-btn,
    .likes-number {
        font-size: 1rem;
    }

}
