*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background: url(/img/bg.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
    color: white;
}
.inner{
    max-width: 1200px;
    padding: 0 40px;
    margin: auto;
}
.navbar {
    position: fixed;
    background-color: transparent;
    width: 100%;
    padding: 30px 0;
    top: 0;
    z-index: 2;
    transition: .3s linear;
    font-family: 'Ubuntu';
}

.navbar .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .login {
    border: 2px solid brown;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: brown;
    color: #d3d3d3;
    font-family: "Ubuntu";
    transition: 0.1s linear;
}

.navbar .login:hover {
    background-color: red;
    border-color: red;
    color: #d3d3d3;
}

.navbar .signup {
    border: 2px solid purple;
    padding: 5px 20px;
    border-radius: 10px;
    font-family: "Ubuntu";
    transition: 0.1s linear;

}

.navbar .signup:hover {
    background-color: purple;
    color: #d3d3d3;
}

.navbar .logout {
    border: 2px solid brown;
    color: #d3d3d3;
    padding: 5px 20px;
    border-radius: 10px;
    font-family: "Ubuntu";
    transition: 0.1s linear;
}

.navbar .logout:hover {
    color: white;
    background-color: brown;
}


.brand {
    color: white;
    /* text-transform: uppercase; */
    font-size: 1.25rem;
    text-decoration: none;
    transition: linear .2s;
}

.menu-toggler {
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 3;
    display: none;
}

.menu-toggler span {
    display: block;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
    position: relative;
    transition: .3s linear;
}

.navbar-menu a {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    margin-left: 30px;
    transition: .2s linear;
    text-decoration: none;
}

.navbar-menu a:hover {
    color: #ffffff !important;
}

.navbar form {
    display: inline;
    margin-left: 30px;
}

.navbar form input {
    padding: 8px 0 8px 10px;
    border-radius: 5px;
    margin-right: 5px;
    color: white;
    width: 200px;
    background-color: rgba(255, 68, 0, 0.322);
    border: none;
    font-family: "Ubuntu";
}

.navbar form input::placeholder {
    color: white;
    opacity: 0.8;
}

.navbar form button {
    background-color: transparent;
    border: none;
    font-size: 1.05rem;
}

.navbar form button i:hover {
    color: grey;
    cursor: pointer;
}

.sticky {
    background-color: black;
    padding: 18px 0;
}

.sticky .navbar-menu a {
    color: white;
}

.sticky .menu-toggler span {
    background-color: white;
}

.navtop-home {
    display: none;
}
/* Main */
.flex{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    background-color: #e8454550;
    border-radius: 30px;
    width: 75vw;
}
h1{
    font-family: 'Noto Sans';
    margin: 50px;
    margin-bottom: 0;
    font-size: 4rem;
    color: rgb(153, 0, 153);
}
h4{
    font-family: 'Alata';
    margin: 20px;
}
#pfp{
    display: none;
}
#preview{
    width: 50%;
    margin: 30px 0;
}
.pfp-label{
    border: 2px solid white;
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 1.5rem;
    transition: 0.2s ease-in-out;
}
.pfp-label:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.update-pfp{
    font-family: 'Alata';
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sub-btn{
    background-color: rgba(0, 0, 0, 0.589);
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: grey;
    font-size: 1.5rem;
    letter-spacing: 3px;
    font-family: "Noto sans";
    transition: 0.2s ease-in-out;
}
.sub-btn:hover{
    cursor: pointer;
    box-shadow: 0 0 5px white;
    background-color: black;
    color: white;
}
.nav-btm {
    display: none;
    /* flex-direction: row; */
    /* flex: 20%; */
    height: 70px;
    width: 100vw;
    justify-content: space-around;
    align-content: center;
    position: fixed;
    bottom: 0px;
    /* background-color: #121212; */
    padding: 20px 10px;
    transition: 0.2s linear;
}

.navbtm-icon {
    font-size: 1.5rem;
    color: #d3d3d3;
}
.nav-btm a{
    text-decoration:none;
    color: #d3d3d3;
}
.navbtm-icon:hover,.nav-btm a:hover {
    color: white;
}
/* Main end */

@media (max-width: 768px){
    .nav-btm{
        display: flex;
    }
    .navbar{
        padding: 20px 0px;
    }
    .inner{
        padding: 0px;
        max-width: 90vw;
    }
    
    .flex{
        margin: 100px auto;
        /* position: absolute;
        top: 50%;
        transform: translateY(-50%); */
        width: 90vw;
    }
    h1{
        font-size: 2rem;
        margin: 50px 20px 0px;
        
    }
    .update-pfp{
        margin-top: 0;
    }
    .pfp-label{
        padding: 10px 20px;
        font-size: 1.25rem;
    }
    .sub-btn{
        font-size: 1rem;
    }
    #preview{
        margin: 10px;
    }
    
}