* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
::selection {
    background-color: black;
    color: #d3d3d3;
    text-shadow: none;
}
html {
    scroll-behavior: smooth;
}
body{
    /* background-color: #18191a; */
    /* background-color: #181a2b; */
    background-image: url(/img/tilebg.jpg);
    color: #000000;
}
.inner{
    max-width: 1200px;
    padding: 0 40px;
    margin: auto;
}
a{
    color: white;
}
.navbar {
    position: fixed;
    background-color: transparent;
    width: 100%;
    padding: 10px 0;
    top: 0;
    z-index: 2;
    transition: .3s linear;
    font-family: 'Ubuntu';
}

.navbar .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .login {
    border: 2px solid brown;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: brown;
    color: #d3d3d3;
    font-family: "Ubuntu";
    transition: 0.1s linear;
}

.navbar .login:hover {
    background-color: red;
    color: #d3d3d3;
}

.navbar .signup {
    border: 2px solid purple;
    padding: 5px 20px;
    border-radius: 10px;
    font-family: "Ubuntu";
    transition: 0.1s linear;

}

.navbar .signup:hover {
    background-color: purple;
    color: #d3d3d3;
}

.navbar .logout {
    border: 2px solid brown;
    color: #d3d3d3;
    padding: 5px 20px;
    border-radius: 10px;
    font-family: "Ubuntu";
    transition: 0.1s linear;
}

.navbar .logout:hover {
    color: white;
    background-color: brown;
}


.brand {
    color: white;
    /* text-transform: uppercase; */
    font-size: 1.25rem;
    text-decoration: none;
    transition: ease-in-out 0.2s;
}

.menu-toggler {
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 3;
    display: none;
}

.menu-toggler span {
    display: block;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
    position: relative;
    transition: .3s linear;
}

.navtop-home {
    display: none;
}

.navbar-menu a {
    color: rgb(255, 255, 255);
    font-size: 0.75rem;
    font-weight: 500;
    margin-left: 30px;
    transition: .2s linear;
    text-decoration: none;
}

.navbar-menu a:hover {
    color: grey;
}

.sticky {
    background-color: black;
    padding: 10px 0;
}


.sticky .navbar-menu a {
    color: white;
}

.sticky .menu-toggler span {
    background-color: white;
}


.nav-btm {
    display: none;
    height: 70px;
    width: 100vw;
    justify-content: space-around;
    align-content: center;
    position: fixed;
    bottom: 0;
    background-color: #121212;
    padding: 20px 10px;
    transition: 0.2s linear;
}

.navbtm-icon {
    font-size: 1.5rem;
    color: white;
}
/* MAIN BODYYYYY****************/

.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
}
.author{
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Alata';
    margin: 40px auto;
    color: white;
    display: block;
    text-decoration: none;
}
.author span{
    text-decoration: underline;
}
.tilebg-img{
    position: fixed;
    width: 100vw;
    height: auto;
    min-height: 100vh;
    filter: blur(10px);
    z-index: -5;
    top: 0;
}
/* Tile section */

.tile-img{
    /* max-width: 95vw; */
    border-radius: 10px;
    max-width: 100vw;
    max-height: 90vh;
    /* width: 100%; */
}
/* Tile section end */

/* Comments section */
.comments-section{
    border-radius: 10px;
    margin: 0 100px;
    /* padding: 10px; */
    /* background-color:#3A3B3C; */
    background-color: #2b2e4aa1;
    display: block;
    width: 100%;
    margin-bottom: 160px;
}
.comment-div{
    padding: 10px;
}
.desc{
    color: #E4E6EA;
    font-family: 'Alata';
    text-transform: capitalize;
    margin: 10px 0 20px 5px;
    font-size: 1.2rem;
}
.click-div-likes{
    margin-bottom: 20px;
}
.like-btn{
    margin: 0px 0px 0px 5px;
    font-size: 1.5rem;
}

.likes-number{
    color: #E4E6EA;
    margin-right: 10px;
    font-family: 'Alata';
    font-size: 1.5rem;
}
#heart{
    transition: linear 0.3s;
}
#heart:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.comment{
    /* color: #B1B3B8; */
    color: white;
    font-family: 'Alata';
    margin-bottom: 10px;
    width: auto;
    padding: 20px 10px;
    background-color: rgba(0, 0, 0, 0.52);
    border-radius: 10px;
    font-size: 1.3rem;
}
.commenter{
    color: #E4E6EA;
    font-size: 1.3rem;
    margin-bottom: 5px;
    
}
.submit{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    padding: 10px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    /* background-color: #18191a; */
    background-color: #2b2e4aa1;
    transition: linear 0.2s;
}
.click-div-comments{
    overflow: auto;
}
.click-div-share{
    margin-right: 10px;
}
.share-container{
    position: relative;
}
.tooltip{
    display: none;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    left: -85px;
    top: 35px;
    z-index: 3;
    width: 190px;
    font-family: "Ubuntu";
    font-size: 0.75rem;
}
.tooltip::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
#click-div-delete{
    color: orange;
    transition: linear 0.3s;
    font-size: 1.5rem;
}
#click-div-delete:hover{
    color: red;
    cursor: pointer;

}
#dustbin{
    transition: linear 0.3s;
}
#dustbin:hover{
    transform: scale(1.3);
}
.comment-area{
    color: white;
    font-family: 'Alata';
    padding: 6px 10px 0;
    border-radius: 30px;
    width: 100%;
    /* background-color: #3A3B3C; */
    background-color: #d3d3d36e;
    resize: none;
    border: none;
}
.comment-area::placeholder{
    color: white;
}
.sub-btn{
    display: inline-block;
    margin:0px 10px;
    background-color: transparent;
    border: 0px;
}
#comment-icon{
    font-size: 2rem;
    color: #A8ABAF;
    transition: linear 0.3s;
}
#comment-icon:hover{
    color: white;
    cursor: pointer;
    transform: scale(1.3);
}
.delete-comment{
    color: rgb(180, 0, 0);
    transition: linear 0.3s;
}
.delete-comment:hover{
    color: orangered;
    cursor: pointer;
    transform: scale(1.3);
}

.click-div-share i{
    color: grey;
    transition: linear 0.3s;
    font-size: 1.5rem;
}
.click-div-share i:hover{
    cursor: pointer;
    color: white;
    transform: scale(1.2);
}
.spinner{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(47, 0, 75, 0.541);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 5;
}
.loader{
    width: 120px;
    height: 120px;
    position: relative;
    margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: white;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2{
    animation-delay: -1.0s;
    background-color: black;
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
    }
}

@media screen and (max-width: 1250px) {
    .navbar {
        padding: 20px 20px;
    }
}

@media (max-width: 980px) {
    .navtop-home {
        display: block;
    }
    .sticky{
        background-color: unset;
    }
    .author{
        margin-top: 20px;
    }
    .navbar {
        padding: 20px 20px;
    }
    .menu-toggler {
        display: block;
    }
    .sticky .menu-toggler {
        background-color: #121212;
        border-radius: 50%;
        padding: 10px;
        width: 50px;
        transition: .2s linear;
    }
    .sticky .brand {
        transform: translateY(-500%);
        transition: .3s linear;
    }
    .navbar-menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: black;
        top: 0;
        right: -100%;
        /* max-width: 400px; */
        text-align: center;
        padding: 80px 50px;
        transition: .2s linear;
    }

    .navbar-menu a {
        display: block;
        font-size: 30px;
        margin: 30px 0;
        text-decoration: white;
        color: white;
    }

    .sticky .navbar-menu {
        background-color: #121212;
    }

    .sticky .navbar-menu a {
        color: white;
    }

    .navbar-menu.active {
        right: 0;
    }

    .menu-toggler.active span:nth-child(1) {
        transform: rotate(-45deg);
        top: 4px;
    }

    .menu-toggler.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggler.active span:nth-child(3) {
        transform: rotate(45deg);
        bottom: 14px;
    }

    .inner-width {
        max-width: 800px;
    }
    .inner{
        padding: 0 10px;
    }
    .tile{
        margin-bottom: 10px;
    }
    .tile-img{
        min-width:90% ;
        max-width: 100%;
        height: auto;
        max-height: 80vh;
    }
    .comment-div{
        padding: 10px;
    }
    .comments-section{
        margin-bottom: 160px;
    }
    .comment-area{
        height: 40px;
        font-size: 1rem;
    }
    .comment-area::placeholder{
        font-size: 1rem;
    }
    .submit{
        background-color: #2b2e4a;
    }
    body{
        background-image: unset;
    }
    .nav-btm {
        display: flex;
    }


}
